# dependencies
/node_modules

# next.js build output
/.next
/out

# production
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment files
.env*
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# editor settings (optional but recommended)
/.vscode
.idea

/app/generated/prisma

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
